.order-form {
  border-radius: 3px;
  background-color: rgb(92,151,191);
  display: inline-block;
  width: 422px;
}

.order-form header {
  font-size: 1.5em;
  font-weight: bold;
  padding: 12px 0px;
  text-align: center;
}

.order-form .panel {
  display: none;
  padding: 0px 10px;
  -webkit-transition: height 500ms;
  transition: height 500ms;
}

.order-form h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 14px 5px;
}

.order-form input[name="shipto.zip"] {
  width: 75px;
}

.order-form input[name="items[].quantity"],
.order-form input[name="items[].price"] {
  width: 75px;
}

.order-form .items {
  padding: 0px 0px 30px;
}

.order-form button.new-item {
  float: right;
  margin-top: -26px;
}

.order-form button.add {
  margin-bottom: 12px;
}

.order-form.show .panel {
  display: block;
}
